[submodule "3rd/openexr"]
	path = 3rd/openexr
	url = https://github.com/openexr/openexr.git
[submodule "3rd/OpenCOLLADA"]
	path = 3rd/OpenCOLLADA
	url = https://github.com/KhronosGroup/OpenCOLLADA.git
[submodule "3rd/glew"]
	path = 3rd/glew
	url = https://github.com/nigels-com/glew.git
